@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import "../../styles/vars.css";
@import "../../styles/nav.css";

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    background-color: var(--light-neutral-color);
    color: var(--primary-color);
    font-size: var(--text-medium);
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    position: relative;
    background-image: url(../../imgs/landing_bg.svg);
    background-attachment: fixed;

    & #list-container {
        margin: 10px 0;
        width: min(95%, 1000px);
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        padding: var(--text-medium) 0;
        gap: var(--text-medium);

        & .card {
            width: 100%;
            background-color: var(--light-neutral-color);
            border: solid 4px var(--t-secondary-color);
            color: var(--secondary-color);
            text-decoration: none;
            text-align: center;
            box-sizing: border-box;
            border-radius: 10px;
            padding: 20px;
            transition: all .2s ease;
            cursor: pointer;
            user-select: none;
            display: flex;
            justify-content: space-between;

            &:hover {
                border-color: var(--accent-color);
                /* background-color: var(--t-accent-color);
                color: var(--primary-color);
                backdrop-filter: blur(3px); */
            }


            & img {
                width: min(200px, 60%);
                border-radius: 10px;
                filter: invert(1);
                transition: all .3s cubic-bezier(0.785, 0.135, 0.15, 0.86);

                &:hover {
                    transform: scale(.98);
                    /* border: solid 10px var(--t-accent-color); */
                }
            }

            & .data {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: space-between;

                & .date {
                    font-size: var(--text-x-small);
                }

                & .guess {
                    font-size: var(--text-large);
                }
            }
        }
    }
}



#navbar .options {
    width: 100%;
    margin-top: var(--text-x-small);
    box-sizing: border-box;
    border-top: solid 2px var(--dark-neutral-color);
    color: var(--secondary-color);

    & h3 {
        text-align: center;
        margin: 0;
    }

    & .buttons {
        display: flex;
        justify-content: center;
        gap: var(--text-small);
        width: 100%;
        padding-top: 10px;

        & .btn {
            background-color: var(--light-neutral-color);
            padding: 5px;
            border-radius: 10px;
            cursor: pointer;
            user-select: none;
            border: solid 1px var(--t-secondary-color);
            font-size: var(--text-medium);

            &:hover {
                background-color: var(--dark-neutral-color);
            }
        }
    }
}